#footer
    color: #fff
    background: url("../images/footer.svg") left top no-repeat
    height: 300px
    background-size: cover
    // bottom: 0
    padding-right: 7%
    margin-top: -40px
    width: 100%

    h1
         margin: 0
    
    .row, .container-fluid
        height: 100%
    .footer-sec
        display: flex
        align-items: center