#challenge
    .row
        .container
            .col
                .challenges-container.text-center
                    .challenge-item Science teachers need support
                    .challenge-item Lab equipment is expensive
                    .challenge-item Labs are expensive to mantain
                    .challenge-item Students are disengaged
                    img(src="images/challenge.png", alt="Image Not Found")