#whyHeader
    .container
        .row
            .col
                h1.display-4.text-center We're changing the way science is taught and learned!

                p.text-center Imagine a world in which everyone has the opportunity to discover the world around them through <br> experimentation. XLab's solutions for science education are making this dream a reality and inspiring a new<br> generation of scientists.