#whyimpact
    .container
        .row.justify-content-center
            .col-12
                h2.text-center Proven positive impact
            
            .col-12 
                p.text-center A 2018 randomized control trial by the Inter American Development bank found students who performed 3 or more experiments using Lab4Physics had a significant impact on physics knowledge, self-perception, and interest in studying a STEM related career in the future compared to peers who didn't use Lab4Physics
            .col-6
                button.btn.btn-primary Read Full Report