#statistics
    .container
        .row
            .col-12: h2.text-center Don’t take our word for it!
            .col-12: p.text-center XLab's tools for science education are used by hundreds of thousands of teachers and students from around the world, with proven positive impact on student learning and soft skill development.

            .col-md-4
                h1.display-4.text-primary.text-center +100k 
                p.text-center Students

            .col-md-4
                h1.display-4.text-primary.text-center +20k
                p.text-center Teachers

            .col-md-4 
                h1.display-4.text-primary.text-center 20
                p.text-center Countries