#whychooseus(style='margin-top: 100px')
    .container
        h1.text-center Why schools and teachers love us

        .my-card-second
            .row
                .col-md-6 
                    .image-container
                        img(src="images/card-1.jpg", alt="Image Not Found")
                .col-md-6
                    .card-content
                        h3 Lab in your pocket
                        p No more need for expensive lab equipment. Use your smartphone or tablet to explore the world around you!

        .my-card-second
            .row
                .col-md-6
                    .card-content
                        h3 Lab in your pocket
                        p No more need for expensive lab equipment. Use your smartphone or tablet to explore the world around you!
                .col-md-6 
                    .image-container
                        img(src="images/card-1.jpg", alt="Image Not Found")

        .my-card-second
            .row
                .col-md-6 
                    .image-container
                        img(src="images/card-1.jpg", alt="Image Not Found")
                .col-md-6
                    .card-content
                        h3 Lab in your pocket
                        p No more need for expensive lab equipment. Use your smartphone or tablet to explore the world around you!

                        
        .my-card-second
            .row
                .col-md-6
                    .card-content
                        h3 Lab in your pocket
                        p No more need for expensive lab equipment. Use your smartphone or tablet to explore the world around you!

                .col-md-6 
                    .image-container
                        img(src="images/card-1.jpg", alt="Image Not Found")