#application-portal
    .container
        .row
            .col-12
                .portal-card
                    .row
                        .col-lg-5
                            .image-container
                                img(src="images/portal.jpg", alt="Not Found")

                        .col-lg-7
                            .portal-content
                                h1 Application Portal
                                p Everything you need to implement Lab4Physics in your science classroom! Find hundreds of resources for science educators, including lab reports and teacher guides aligned to our ever-growing library of experiments and video tutorials.
                                
                                button.btn.btn-primary Let's Go