#shcoolsheader
    .container
        .row
            .col-12
                h1.display-4.text-center Schools &amp; Teachers
            
            .col-12 
                p.text-center.description-1 At a time when STEM knowledge and skills are more important than ever, young people are uninspired, experiencing science as theoretical, boring, difficult, and detached from their daily life.

            .content
                .row
                    .col-md-7
                        p.text-right.description-2 Together, we can change this. <br> With Lab4U’s solutions for science education, science is no longer monotonous: it’s an inquiry-based journey of discovery. And planning rigorous experimental learning experiences for students has never been easier.<br><br> We’re here to support you with the resources, professional development, and metrics you need to ensure every student and teacher at your school or institution benefits from Lab4U’s solutions.

                    .col-md-5
                        .image-container 
                            img(src="images/shcools-header.png", alt="Not Found")