#mobileapps
    .container
        .row.justify-content-center
            .col-md-6.col-lg-4.col-sm-12
                .app-card
                    .image-container
                        img(src="images/sm-app-1.png", alt="Not Found")
                    
                    .app-name
                        h2.text-center
                            i.fas.fa-flask
                            span.text-bold XLab
                            span Chemistry
                    .app-description
                        p.text-center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda temporibus ad similique sed molestias minima 

                        button.btn.btn-primary Learn More


            .col-md-6.col-lg-4.col-sm-12
                .app-card
                    .image-container
                        img(src="images/sm-app-2.png", alt="Not Found")
                    
                    .app-name
                        h2.text-center
                            i.fas.fa-atom
                            span.text-bold XLab
                            span Physics
                    .app-description
                        p.text-center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda temporibus ad similique sed molestias minima 

                        button.btn.btn-primary Learn More


            .col-md-6.col-lg-4.col-sm-12
                .app-card
                    .image-container
                        img(src="images/sm-app-3.png", alt="Not Found")
                    
                    .app-name
                        h2.text-center
                            i.fas.fa-brain
                            span.text-bold XLab
                            span Biology
                    .app-description
                        p.text-center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda temporibus ad similique sed molestias minima 

                        button.btn.btn-primary Learn More

            