#pocketapps
    .container
        .row
            .col-12
                .my-card-app
                    .row
                        .col-md-5
                            .image-container
                                img(src="images/apps-1.png", alt="Not Found")
                        .col-md-7
                            .app-content
                                h1(style="color: #ff393c")
                                    i.fas.fa-atom 
                                    span.text-bold XLab
                                    span Physics
                                
                                p Lab4Physics integrates the power of four sensors in more than 25 rigurous lab experiences that allow students to learn through inquiry-based experimentation. Using only mobile devices and basic materials, you can begin experimenting in no time, discovering energy, waves, and forces and movement in exciting new ways.

                                button.btn.btn-primary See more

                .my-card-app
                    .row
                        .col-md-7
                            .app-content
                                h1(style="color: #4b3bb6")
                                    i.fas.fa-flask
                                    span.text-bold XLab
                                    span Chemistry
                                
                                p Lab4Physics integrates the power of four sensors in more than 25 rigurous lab experiences that allow students to learn through inquiry-based experimentation. Using only mobile devices and basic materials, you can begin experimenting in no time, discovering energy, waves, and forces and movement in exciting new ways.

                                button.btn.btn-primary See more

                        .col-md-5
                            .image-container
                                img(src="images/apps-2.png", alt="Not Found")
                
                .my-card-app
                    .row
                        .col-md-5
                            .image-container
                                img(src="images/apps-3.png", alt="Not Found")

                        .col-md-7
                            .app-content
                                h1(style="color: #06d45d")
                                    i.fas.fa-brain
                                    span.text-bold XLab
                                    span Biology
                                
                                p Lab4Physics integrates the power of four sensors in more than 25 rigurous lab experiences that allow students to learn through inquiry-based experimentation. Using only mobile devices and basic materials, you can begin experimenting in no time, discovering energy, waves, and forces and movement in exciting new ways.

                                .btn.btn-disabled See more
