#pocketfeatures
    .container-fluid
        .row.justify-content-center
            .col-lg-2.col-md-4.col-sm-6.col-xs-6
                .image-container
                    img(src="images/feature-1.svg", alt="Not found")
                .feature-title
                    h4.text-center Awaken curiosity
            .col-lg-2.col-md-4.col-sm-6
                .image-container
                    img(src="images/feature-2.svg", alt="Not found")
                .feature-title
                    h4.text-center Discover throw inquiry
            .col-lg-2.col-md-4.col-sm-6
                .image-container
                    img(src="images/feature-3.svg", alt="Not found")
                .feature-title 
                    h4.text-center Develop Scintific thinking
            .col-lg-2.col-md-4.col-sm-6
                .image-container
                    img(src="images/feature-4.svg", alt="Not found")
                .feature-title 
                    h4.text-center Broaden prespictives
            .col-lg-2.col-md-4.col-sm-6
                .image-container
                    img(src="images/feature-5.svg", alt="Not found")
                .feature-title 
                    h4.text-center Inspire the thinkers and innovators of tomorow