#pocketheader
    .container-fluid
        .row
            .col-12
                img(src="images/pocket-header.jpg", alt="Not Found")
            .col-12
                h2.text-center Lab in your Pocket
            .col-12 
                p.text-center For the first time in history, billions of people around the world carry powerful tools in their pocket-tools that have the power to transform science education. <br><br> We use smartphone sensors to turn them into tools for experimentation, pairing our technology with resources for educators to transform the way their students learn science.