footer#footer
    .container-fluid
        .row
            .col-md-3.footer-sec Hello
            .col-md-3.footer-sec Hello
            .col-md-3.footer-sec Hello
            .col-md-3.footer-sec Hello