#header
    div.container
        .row
            div.col-md-5.header-sub
                h1 More learning <br> more <span class='typed'>fun</span>
                
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos deleniti at veniam debitis et excepturi inventore esse voluptatum nihil. Facilis, sequi laborum voluptatem ea 
                
                button.btn.btn-primary Learn More

            .div.col-md-7.header-sub
                .circle
                    a
                        span.play
                            <i class="fas fa-caret-right"></i>
                                
        