#impact
    .small-container
        .row
            .col-md-6.impact-content
                h3 Proven positive impact
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore ipsam reiciendis aut tenetur quasi fuga exercitationem id dolorem earum?

                button.btn.btn-primary Read full report
            .col
            .col-md-5
                .image-container
                    img(src="images/impact.png", alt="Image Not Found").image-responsive