nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
        a(href='home.html').navbar-brand
            img(src="images/logo.png", width="30", height="30". alt="")
        
        button(type="button", data-toggle="collapse", data-target="#navbarText", aria-controls="navbarText", aria-expanded="false", aria-label="Toggle navigation").navbar-toggler
            <span class="navbar-toggler-icon"></span>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto font-weight-light">
                <li class="nav-item">
                    <a class="nav-link" href="why.html">Why XLab?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">XLab in Your Pocket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Schools and Teachers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resources</a>
                </li>
            </ul>
        </div>