script(src='http://localhost:35729/livereload.js')
script(src='vendors/jquery/jquery.js')
script(src='vendors/bootstrap/js/bootstrap.min.js')
script(src='vendors/typedjs/typed.min.js')
script(src="vendors/owl-carousel/js/owl.carousel.min.js")
script(src='scripts/main.js')