#subscribe
    .container
        .row
            .col.text-center
                h3 Subscribe for more news

                <div class="form-group">
                    <input type="email" class="form-control" placeholder="name@example.com">
                </div>