#whatCanDo
    .small-container
        h3.text-center What can you do with XLab

        .row
            .col-md-6 
                .my-card
                    .img-container
                        img(src='images/card-1.jpg', alt='No Image Found').image-responsive
                    .card-content
                        h5 XLab in your pocket
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus ipsa, sapiente beatae nihil consequuntur tenetur laborum porro aliquam placeat officiis quas odio ex

                        button.btn.btn-secondary Let's go
            .col-md-6  
                .my-card
                    .img-container
                        img(src='images/card-2.jpg', alt='No Image Found').image-responsive
                    .card-content
                        h5 Schools and teachers
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus ipsa, sapiente beatae nihil consequuntur tenetur laborum porro aliquam placeat officiis quas odio ex

                        button.btn.btn-secondary Let's go
            