#pricingheader
    .container
        .row
            .col-12
                h1.text-center.text-bold Are you ready to go ?

                p.text-center Find the perfect Lab4Physics solution for your students, or build a customized plan to meet your school's unique needs.

            .col-12 
                .stores-card
                    .container
                        .row
                            .col-md-6.left
                                h5.text-bold Free
                                p Try one tool and three experiments free.
                
                            .col-md-6.right
                                img(src="images/googleplay.svg", alt="Not Found")
                                img(src="images/applestore.svg", alt="Not Found")
        