#prices
    .container
        .row.justify-content-center.price-table
            .col-md-12.col-lg-4.price-cell
                .price-card
                    h2.title Lab4Physics Silver
                    p.description Available through in-app purchase, unlock all tools and experiments on the Lab4Physics Mobile App.
                    ul.features
                        li.feature App +25 Experiments 4 Tools
                        li.feature Teacher Portal 3 Experiments (Lab Reports and Teacher Guides) Tutorial Videos

                    .bottom
                        .image-container
                            img(src="images/googleplay.svg", alt="Not Found")
                            img(src="images/applestore.svg", alt="Not Found")

                        h2.price.text-center.text-bold USD: &dollar; 29.99

                        p.tip.text-center In-app purchase per user.<br> Try 14 Days Free Trial.

            .col-md-12.col-lg-4.price-cell
                .price-card
                    h2.title Lab4Physics Silver
                    p.description Available through in-app purchase, unlock all tools and experiments on the Lab4Physics Mobile App.
                    ul.features
                        li.feature App +25 Experiments 4 Tools
                        li.feature Teacher Portal 3 Experiments (Lab Reports and Teacher Guides) Tutorial Videos

                    .bottom
                        button.btn.btn-danger.d-block.ml-auto.mr-auto Get a quote

                        h2.price.text-center.text-bold USD: &dollar; 29.99

                        p.tip.text-center In-app purchase per user.<br> Try 14 Days Free Trial.

            .col-md-12.col-lg-4.price-cell
                .price-card
                    h2.title Lab4Physics Silver
                    p.description Available through in-app purchase, unlock all tools and experiments on the Lab4Physics Mobile App.
                    ul.features
                        li.feature App +25 Experiments 4 Tools
                        li.feature Teacher Portal 3 Experiments (Lab Reports and Teacher Guides) Tutorial Videos

                    .bottom
                        button.btn.btn-danger.d-block.ml-auto.mr-auto Schedual a call

                        h2.price.text-center.text-bold USD: &dollar; 29.99

                        p.tip.text-center In-app purchase per user.<br> Try 14 Days Free Trial.
