doctype
html
    include pug/head.pug

    body
        include pug/navbar
        include pug/header
        include pug/what-can-do
        include pug/impact
        include pug/subscribe

        include pug/footer

    // Scripts
    include pug/scripts.pug