doctype
html
    include pug/head.pug

    body
        include pug/navbar
        include pug/pocket/header
        include pug/pocket/features
        

        include pug/footer

    // Scripts
    include pug/scripts.pug