doctype
html
    include pug/head.pug

    body
        include pug/navbar

        include pug/pricing/header

        include pug/schools/testemonials

        include pug/footer

    // Scripts
    include pug/scripts.pug