doctype
html
    include pug/head.pug

    body
        include pug/navbar
        include pug/schools/header
        include pug/schools/mobileapps

        include pug/footer

    // Scripts
    include pug/scripts.pug