doctype
html
    include pug/head.pug

    body
        include pug/navbar
        include pug/why/header
        include pug/why/challenge
        include pug/why/whychooseus
        include pug/why/statistics

        include pug/footer

    // Scripts
    include pug/scripts.pug